[submodule "hylo-new"]
	path = hylo-new
	url = https://github.com/hylo-lang/hylo-new
[submodule "vscode-hylo"]
	path = vscode-hylo
	url = https://github.com/hylo-lang/vscode-hylo/
[submodule "LanguageServerProtocol"]
	path = LanguageServerProtocol
	url = https://github.com/tothambrus11/LanguageServerProtocol
	branch = completion-item-label-details
